# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
static
media
old
staticfiles
mediafiles
djangostatic
djangomedia
.idea
.coverage*
.DS_Store
client/node_modules
node_modules
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
logs/
config_log
db.sqlite3
scratch.txt
aws_scratch.txt
heroku_scratch.txt
Pipfile.lock
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
