<!-- templates/registration/password_reset_confirm.html -->
{% extends '_base.html' %}

{% block title %}Enter New Password{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
<div class="card" style="background-color: powderblue; color: darkslategray;">
  <h1>Set a new password!</h1>
    <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-sample btn-lg" type="submit"
      value="Change my password">
    </form>
</div>
{% endblock content %}
