<!-- templates/registration/password_change_form.html -->
{% extends '_base.html' %}

{% block title %}Password Change{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
<div class="card" style="background: powderblue; color: darkslategray;">
  <h1>Password change</h1>
  <p>Please enter your old password then enter your new password twice to
      verify it was typed correctly.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-sample btn-lg" type="submit" value="Change my password">
  </form>
</div>
{% endblock content %}
