<!-- templates/registration/password_change_form.html -->
{% extends '_base.html' %}

{% block title %}Password Change Successful{% endblock title %}

{% block content %}
<div class="card" style="background: powderblue; color: darkslategray;">
  <h1>Password change successful!</h1>
  <p>Your password has been changed successfully.</p>
  <p>Your new password has been set. You can now go back to the
  <a class="btn btn-sample btn-lg" href="{% url 'login' %}">Log In</a> page.
</div>
{% endblock content %}
