<!-- {% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}New Reward{% endblock title %}

{% block content %}
<div class="card" style="background-color: black; color: #f2edda;">
    <h1>New Reward</h1>
    <span>Or back to: <a class="btn btn-sample" href="{% url 'reward_list' %}">Reward List</a> | <a class="btn btn-sample" href="{% url 'hotspot_list' %}">The Hotspot List</a></span>
        <br />
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-sample btn-lg" type="submit">Save</button>
        </form>
</div>
{% endblock content %} -->
