<!-- {% extends '_base.html' %}

{% block title %}Reward Delete{% endblock title %}

{% block content %}
<div class="card" style="background-color: paleturquoise; color: darkslategray;">
    <h1>Delete Reward</h1>
    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete the evaluation titled <bold><u>{{ reward.sum }}</u></bold>?</p>
        <button class="btn btn-danger ml-2 btn-lg" type="submit">Confirm</button>
    </form>
</div>
{% endblock content %} -->
