<!-- {% extends '_base.html' %}

{% block title %}Reward Detail{% endblock title %}

{% block content %}
  <div class="card" style="background-color: black; color: #f2edda;">
    <div class="photoprogress-entry">
        <div class="card">
          <div class="card-header" style="background-color: black; color: white;">
            <h3>Hotspot: {{ object.hotspot.hotspot_name }} | Date: {{ object.timestamp }}</h3>
            <br />
            <h4>Reward: {{ object.sum }}</h4>
          </div>
        <div class="card-footer" style="background-color: black; color: #f2edda;">
            <a href="{% url 'reward_list' %}" class="btn btn-sample btn-lg">List of Rewards</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %} -->
